@import url("https://fonts.googleapis.com/css2?family=Kaisei+Opti:wght@500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

:root {
  --orange: #f95738;
  --red: #631016;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Kaisei Opti", serif;
  text-decoration: none;
  outline: none;
  border: none;
}
html {
  font-size: 62.5%;
  scroll-behavior: smooth;
  scroll-padding-top: 6rem;
  overflow-x: hidden;
}

header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background-color: var(--orange);
  padding: 2rem 9%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  z-index: 1000;
  box-shadow: 0 0.5rem 1rem #8c7a7a;
}
header .logo {
  font-size: 3rem;
  color: rgb(243, 236, 236);
  font-weight: bolder;
}

header .logo span {
  color: rgb(255, 186, 36);
}

header .navbar a {
  font-size: 2rem;
  padding: 0 1.5rem;
  color: rgb(243, 238, 238);
}
header #toggler {
  display: none;
}

header .fa-regular {
  font-size: 3rem;
  color: rgb(249, 243, 243);
  border-radius: 0.5rem;
  padding: 0.5rem 1.5rem;
  cursor: pointer;
  border: 0.1rem solid rgba(0, 0, 0, 0.3);
  display: none;
  border:none;
}

section {
  padding: 2rem 9%;
}

header .navbar a:hover {
  color: var(--red);
  border: 1px solid white;
  border-radius: 48px;
}
button {
  background-color: darkgray;
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  border-radius: 35%;
}
button:hover {
  background-color: #d44b0b;
  transform: scale(1.1, 1.1);
}

footer {
  margin: 15px auto auto auto;
  height: 100px;
  background-color: #f4511ee0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: nowrap;
}

footer h3 {
  font-size: 20pt;
  margin: 20px;
}
.home {
  display: flex;
  align-items: center;
  min-height: 100vh;
  background: url(../images/fondo1.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.home.content {
  max-width: 50rem;
}

.home .content h3 {
  font-size: 6rem;
  color: rgb(207 160 39);
}

.home .content span {
  font-size: 3.5rem;
  font-weight: 900;
  color: var(--orange);
  padding: 1rem 0;
  line-height: 1.5;
}

.home .content p {
  font-size: 1.5rem;
  color: #fbfbf9;
  font-family: "Poppins", sans-serif;
}

.btn {
  display: inline-block;
  margin-top: 1rem;
  border-radius: 5rem;
  background: #f95738;
  color: #fff;
  padding: 0.9rem 3.5rem;
  cursor: pointer;
  font-size: 1.7rem;
}

.btn:hover {
  background: var(--red);
}

.heading {
  text-align: center;
  font-size: 4rem;
  color: #f95738;
  padding: 1rem;
  margin: 2rem 0;
  background: rgba(255, 51, 153, 0.116);
}

.nosotros .row {
  display: flex;
  align-items: center;
  gap: 2rem;
  flex-wrap: wrap;
  padding: 2rem 0;
  padding-bottom: 3rem;
}

.nosotros .row .video-container {
  flex: 1 1 40rem;
  position: relative;
}
.nosotros .row .video-container video {
  width: 100%;
  border: 1.5rem solid #fff;
  border-radius: 0.5rem;
  height: 100%;
  object-fit: cover;
}

.nosotros .row .video-container h3 {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  font-size: 3rem;
  background: #fff;
  width: 100%;
  padding: 1rem 2rem;
  text-align: center;
  mix-blend-mode: screen;
}

.nosotros .row .content {
  flex: 1 1 40rem;
}

.nosotros .row .content h3 {
  font-size: 3rem;
  color: #333;
}

.nosotros .row .content p {
  font-size: 1.5rem;
  color: rgb(19, 6, 6);
  padding: 0.5rem 0;
  padding-top: 1rem;
  line-height: 1.5;
}

.propuestaEducativa-contenedor h1 {
  text-align: center;
  font-size: 4rem;
  color: #f95738;
  padding: 1rem;
  margin: 2rem 0;
  background: rgba(255, 51, 153, 0.116);
}

.propuestaEducativa-contenedor p {
  font-size: 1.5rem;
  color: rgb(19, 6, 6);
  padding: 0.5rem 0;
  padding-top: 1rem;
  line-height: 1.5;
}

.icons-container {
  background: #f95738;
  display: flex;
  flex-wrap: wrap;
  gap: 1.5rem;
  padding-top: 5rem;
  padding-bottom: 5rem;
}

.icons-container .icons {
  background: #ffff;
  border: 0.1rem solid rgba(0, 0, 0, 0.1);
  padding: 2rem;
  display: flex;
  align-items: center;
  flex: 1 1 25rem;
}

.icons-container .icons img {
  height: 10rem;
  margin-right: 2rem;
}
.icons-container .icons h3 {
  color: cornsilk;
  padding-bottom: 0.5rem;
  font-size: 1.5rem;
}

.icons-container .icons span {
  color: #fff8dcab;
  font-size: 1.3rem;
}

.button {
  display: inline-block;
  border-radius: 4px;
  background-color: #f4511e;
  border: none;
  color: #ffffff;
  text-align: center;
  font-size: 15px;
  padding: 20px;
  width: 100px;
  transition: all 0.5s;
  cursor: pointer;
  margin: 5px;
}

.button span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.button span:after {
  content: "\00bb";
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

.button:hover span {
  padding-right: 25px;
}

.button:hover span:after {
  opacity: 1;
  right: 0;
}

.social-media {
  display: flex;
  align-content: center;
  justify-content: center;
  flex-wrap: nowrap;
  flex-direction: row;
  align-items: baseline;
  gap: 30px;
  margin: 15px;
  text-align: center;
  font-size: large;
  font-weight: 600;
}
.fa-facebook {
  color: #164bbb;
}
.fa-instagram {
  color: #d6249f;
}
.fa-pinterest {
  color: crimson;
}
.fa-twitter {
  color: #00acee;
}

.fa-facebook,
.fa-instagram,
.fa-pinterest,
.fa-twitter {
  font-size: larger;
}

#map-form-container {
  display: flex;
  flex-wrap: wrap;
  align-content: center;
  justify-content: center;
  gap: 10px;
}

#conciertos h1 {
  text-align: center;
  font-size: 4rem;
  color: #f95738;
  padding: 1rem;
  margin: 2rem 0;
  background: rgba(255, 51, 153, 0.116);
}
#conciertos p {
  font-size: 1.5rem;
  color: rgb(19, 6, 6);
  padding: 0.5rem 0;
  padding-top: 1rem;
  line-height: 1.5;
}
#conciertos div {
  width: 100%;
  height: 150px;
  background-color: grey;
  background-size: auto;
  background-position-x: center;
  background-position-y: -60rem;
  background-image: url(../Images/7930.jpg);
}
#conciertos h2{
  text-align: center;
  font-size: 3rem;
  color: #252222;
  padding: 1rem;
  margin: 2rem 0;
}
#conciertos span{
  font-size: 2rem;
}
#contacto h2 {
  text-align: center;
  font-size: 4rem;
  color: #f95738;
  padding: 1rem;
  margin: 2rem 0;
  background: rgba(255, 51, 153, 0.116);
}

#contacto p {
  font-size: 1.5rem;
  color: rgb(19, 6, 6);
  padding: 0.5rem 0;
  padding-top: 1rem;
  line-height: 1.5;
}

#contacto p{
  text-align: center;
  justify-content: center;
  font-weight: bold;
  font-size: 2rem;
  color: #252222;
  padding: 1rem;
  margin: 2rem 0;
}
/* #formulario {
  width: 500px;
  height: auto;
  margin: 10px auto;
  padding: 20px;
  font-size: small;
  background-color: #f5f5f5;
  border-radius: 10px;
  box-shadow: 7px 7px 12px;
}
#formulario:hover {
  background-color: #8b7c7c;
} */
#formulario {
  width: 500px;
  height: auto;
  margin: 10px auto;
  padding: 20px;
  font-size: small;
  background-color: #f5f5f5;
  border-radius: 10px;
  box-shadow: 7px 7px 12px;
}
#formulario:hover {
  background-color: #8b7c7c;
}

.error{
  display: block;
  font-weight: bolder;
  width: 100%;
  max-width: auto;
  max-height: 500px;
  padding: 10px;
  margin-bottom: 10px;
}
#map {
  width: 500px;
  height: auto;
  box-shadow: 7px 7px 12px;
  border: 2px grey solid;
  margin: 10px 115px 0px 115px;
}

@media (max-width: 991px) {
  html {
    font-size: 55%;
  }

  header {
    padding: 2rem;
    justify-content: space-around;
  }

  section {
    padding: 2rem;
  }

  .home {
    background-position: left;
  }
}

/* media queries  768px*/
@media (max-width: 768px) {
  header .fa-regular{
    display: block;
  }

  header .navbar {
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    background: #f95738;
    border-top: 0.1rem solid rgba(0, 0, 0, 0.1);
    clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
  }

  header #toggler:checked ~ .navbar {
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
  }

  header .navbar a {
    margin: 1.5rem;
    padding: 1.5rem;

    border: 0.1rem solid rgba(0, 0, 0, 0.1);
    display: block;
  }
}

/* media queries  450px*/
@media (max-width: 450px) {
  html {
    font-size: 50%;
  }
  .heading {
    font-size: 3rem;
  }

  footer {
    flex-direction: column;
    align-items: center;
    height: auto;
  }

  footer h3 {
    font-size: 14pt;
    margin: 10px;
  }

  .social-media {
    gap: 15px;
    font-size: 10pt;
  }
}
input,
textarea {
  display: block;
  width: 100%;
  max-width: auto;
  max-height: 150px;
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 5px;
  border: 3px solid black;
}
#nombre:hover,
#email:hover,
#telefono:hover,
#mensaje:hover {
  border: 4px lightgray;
  border-style: groove;
}

#saxo {
  background-color: grey;
  background-image: url(../images/Saxo.jpeg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

#piano {
  background-color: grey;
  background-image: url(../images/Piano2.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

#guitarra {
  background-color: grey;
  background-image: url(../images/guitarra2.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

#violin {
  background-color: grey;
  background-image: url(../images/Violin.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
#saxo:hover,
#piano:hover,
#guitarra:hover,
#violin:hover {
  transform: scale(1.02, 1.02);
}
#map-form-container {
  display: flex;
  flex-wrap: wrap;
  align-content: center;
  justify-content: center;
  gap: 10px;
}
