:root {
  --violet: #9a84c0;
}
html {
  border: 3px solid green;
}
body {
  background-image: url(Images/fondo01.jpg);
}
main {
  display: flex;
  flex-direction: column;
  border: 3px solid black;
  margin: 10px;
}

header {
  border: 3px solid black;
  background-color: var(--violet);
  height: 150px;
  margin: 10px;
}

@media screen and (max-width: 500px) {
  body{
      background-image: none;
  }
}

nav {
  opacity: 0.7;
}
nav ul {
  list-style-type: none;
  overflow: hidden;
  background-color: #7494b0;
  text-decoration: none;
  margin: 0;
  padding: 0;
}

nav li {
  display: inline-flex;
}
nav li a {
  color: black;
  display: block;
  font-size: 15pt;
  text-decoration: none;
  padding: 13px;
  border: 1px solid #bbb;
  border-radius: 5px;
}
.nav-scroll {
    position: fixed;
    top: 10px;
    width: 97.5%;
    background-color: #fff;
    
}

#nav_contacto a {
  margin-right: 1px;
}
li a:hover {
  background-color: #68859e;
}

footer {
  border: 3px solid black;
  margin: 10px;
}

#formulario {
  max-width: 500px;
  margin: 0 auto;
  padding: 20px;
  background-color: #f5f5f5;
  border-radius: 10px;
}

label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
}

input,
textarea {
  display: block;
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 5px;
  border: none;
}

input[type="submit"] {
  background-color: #4caf50;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

input[type="submit"]:hover {
  background-color: #3e8e41;
}

#nosotros,
#propuestaEducativa,
#conciertos,
#contacto {
  height: 400px; /* ajusta la altura según sea necesario */
  margin: 20px 0; /* ajusta el espacio entre cada sección según sea necesario */
}


