:root {
    --violet: rgba(186, 144, 198, 0.4);
}

total {
    margin: 0;
    padding: 0;
}

body {
    background-image: url(/assets/Images/Dublin_Philharmonic_Orchestra_performing_Tchaikovsky\'s_Symphony_No_4_in_Charlotte\,_North_Carolina.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    width: 100vh;
    background-color: black
}

header {
    background-color: var(--violet);
    height: 15vh;
    border: 0.5vh solid white;
    border-radius: 15%;
    width: 100vh;
}



main {}

footer {}

@media only screen and (max-width: 350px) and (max-height: 233px){
    body{
        background-image: none;
    }
}
